{# Expects `post` (an Eleventy collection item) in scope. #}
<a href="{{ post.url | url }}" class="post-card" style="--tema-color: {{ temasMeta[post.data.tema].color }};">
  <span class="post-card__img-wrap">
    <img src="{{ post.data.heroImage | url }}" alt="" class="post-card__img" loading="lazy">
  </span>
  <span class="post-card__body">
    <span class="post-card__tag">{{ temasMeta[post.data.tema].etiqueta }}</span>
    <span class="post-card__title">{{ post.data.title }}</span>
    <span class="post-card__meta">{{ escuelasMeta[post.data.escuela].etiqueta }} · {{ post.date | htmlDateString | fechaEs }}</span>
  </span>
</a>
